/*#carousel1 img {
	margin:15px;
}*/

/*Slider*/

#carousel1 .carousel-item {padding-left: 60px;}

.carousel article {min-height:300px;}

.carousel-indicators {bottom: 30px;}

.box-quote li {list-style: none !important;}

.box-quote p.info {
    font-size:12px;
    line-height: 16px;
}