/*#carousel1 img {
	margin:15px;
}*/

.texto-chamada {font-style: normal; font-weight: bold; color: var(--main-color2);}

/*Slider*/

#carousel1 .carousel-item {
	padding-left:5px;
	padding-right:5px;

}

.carousel article {min-height:300px;}

.carousel-indicators {bottom: 30px;}

.box-quote li {list-style: none !important;}

.box-quote p.info {
    font-size:12px;
    line-height: 16px;
}

.saiba-mais table {}

.saiba-mais tr {
    border-bottom: 1px solid var(--main-color2);
}

.saiba-mais td:first-child {
    text-align: left; }

.saiba-mais td {
    text-align: center;
    vertical-align: middle;}

.saiba-mais td p {
    padding: 5px; 
    margin: 0; }