/*Slider*/
#carousel1 .carousel-item {padding-left: 60px;}

.carousel article {min-height:300px;}

.carousel-indicators {bottom: 30px;}

/* Saiba Mais no Accordion */

.accordion .saiba-mais-content p{margin:0;}
.accordion .box-quote p{margin:0 0 10px 0;}

/*.accordion .box-quote i, .accordion .box-quote .svg-inline--fa {
	position: relative;
	top: 3px;
}*/

.accordion .fa-times {right: 45px;}

.accordion .ion-ios-arrow-forward {
	position:relative;
	top: 3px;
}

/* Slider no Accordion */

.accordion a.carousel-control-next, .accordion a.carousel-control-prev {
	position: absolute;
}

.accordion a.carousel-control-next span, .accordion a.carousel-control-prev span {
	position: relative;
	top: 50%;
} 

.accordion .carousel img {
	top:0;
	right:0;
	padding: 0 15px 0 0;
}

